//
//  Theme variables
//  _____________________________________________

@header-icons-color: white;
@header-icons-color-hover: @color-orange-red4;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .header {
        background-color: @color-new-awesome-green;
    }
}

