//
//  Theme variables
//  _____________________________________________

@header-icons-color: @color-general-white;
@header-icons-color-hover: @color-vaimo-yellow;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .header {
        background-color: @color-new-awesome-green;
        color: @color-general-white;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-header .header.panel {
        max-width: none;
    }

    .header.content {
        max-width: none;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        margin: 0 auto 25px;
        float: unset;
    }

    .block-search {
        float: left;
    }

    .custom-header-container {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 15px;
        max-width: 35%;
        float: right;
        padding-bottom: 25px;
        font-size: 16px;

        > li {
            .lib-icon-font(
                @_icon-font-content: @icon-account;
                @_icon-font-size: 34px;
            );

            .link-my-account {
                padding-left: 6px;
            }
        }

        .link.wishlist {
            .lib-icon-font(
                @_icon-font-content: @icon-wishlist-full;
                @_icon-font-size: 48px;
            );
        }

        .minicart-wrapper {
            margin-left: 0;
        }
    }


    .navigation {
        margin-left: 0;
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .section-item-title {
        background-color: @color-new-awesome-green;
    }
}
