
//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .modal {
        display: none;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 80vh;
        padding: @indent__s;
        z-index: @z-index-2;
        background-color: @color-general-white;

        &__close-icon {
            float: right;

            .lib-icon-font(
                @_icon-font-content: @icon-remove;
                @_icon-font-size: 45px;
            );
        }

        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: @indent__s;
            margin-top: 85px;
        }

        &__image img {
            display: none;
        }

        &__title {
            margin-bottom: 0 !important;
        }

        &__text {
            padding: @indent__l 0;
            font-size: @font-size__l;
        }

        &__input-group {
            border-bottom: 1px solid #bcbcbc;
            padding-bottom: @indent__s;
            margin-bottom: @indent__s;
        }

        &__input {
            background-color: @color-general-white !important;
            color: black !important;
            font-size: 20px !important;

            &::placeholder {
                font-size: 20px;
                color: #bcbcbc !important;
            }
        }

        input:not([disabled]):focus {
            box-shadow: unset;
        }

        &__button {
            width: 100%;
            margin: @indent__s 0 @indent__l 0;
            padding: @indent__m 0 !important;
            font-size: @font-size__l !important;
            border-radius: 4px !important;
            background-color: #414c56 !important;
            color: white !important;
            transition: all 0.15s ease-in-out;

            &:hover {
                background-color: @color-vaimo-yellow !important;
            }
        }

        &__actions {
            display: none;
        }
    }
}


//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .modal {
        &__info {
            width: 80%;
        }

        &__input-group {
            width: 100%;
        }

        &__button {
            font-size: @font-size__s !important;
        }
    }
}


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .modal {
        padding: 0;

        &__content {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            margin-top: 0;
            padding-bottom: 0;
        }

        &__image img {
            display: unset;
            max-height: 550px;
        }

        &__info {
            width: 50%;
            margin-top: 65px;
        }

        &__title {
            margin: 0 !important;
        }

        &__form-group {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            margin-bottom: 30px;
        }

        &__button {
            margin: 0 0 0 10px;
            padding: 14px 20px !important;
        }

        &__actions {
            display: unset;
        }

        &__close-btn {
            text-decoration: underline !important;
            cursor: pointer;

            &:hover {
                color: @color-vaimo-yellow;
            }
        }
    }
}


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .modal {
        &__info {
            width: 55%;
        }

        &__input-group {
            width: 70%;
        }
    }
}


