

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    @navigation__background: @color-general-white;

    .header li {
        background-color: @secondary__color__light;
        color: @color-gray34;
    }

    .switcher-currency, .switcher-currency a {
        color: @color-gray34;
    }

    .switcher-currency a:hover {
        color: @color-vaimo-yellow;
    }

      .greet.welcome .not-logged-in {
        display: none;
    }

    .nav-sections-item-title.active a {
        color: @color-vaimo-yellow;
    }
}


//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .switcher-option a {
        color: @color-text-black;
    }

    .switcher-option a:hover {
        color: @color-general-white;
        background-color: @color-vaimo-yellow;
    }

    .navigation .level0 .submenu a:hover {
        background-color: @color-vaimo-yellow;
        color: @color-general-white;
    }
}
