{
    "extends": ["stylelint-config-standard"],
    "customSyntax": "postcss-less",
    "rules": {
        "import-notation": "both",
        "comment-empty-line-before": null,
        "unit-allowed-list": [
            "px",
            "rem",
            "%",
            "s",
            "fr",
            "vh",
            "vw",
            "deg"
        ]
    }
}
