& when (@media-common = true) {
    .cms-no-route {
        background: #1d2d44ff;
        color: @color-general-white;

        h1 {
            color: @color-general-white;
            margin: 35px 0 15px;
            font-size: 55px;
            font-weight: @font-weight__extrabold;
        }

        p {
            font-size: 20px;
            padding: 0 10px;
            margin-bottom: 45px;

            .no-route-space-word {
                text-decoration: line-through @color-vaimo-yellow;
            }
        }

        .no-route-astronaut-image-container {
            display: flex !important;
            flex-direction: row !important;
            justify-content: flex-end !important;
            position: absolute;
            width: 100% !important;

            .no-route-astronaut-image {
                width: 50px;
                position: relative;
                margin-right: 15px;

                img {
                    animation: spin 4.5s infinite linear;
                }
            }

            @keyframes spin {
                0% {
                    transform: rotateZ(0deg);
                }

                100% {
                    transform: rotateZ(360deg);
                }
            }

        }

    }

    .no-route-home-button-container {
        .pagebuilder-button-primary {
            width: 200px;
            border-radius: 8px;
            background: none;
            border: 1px solid @color-general-white;
            color: @color-general-white;
            cursor: pointer;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .cms-no-route {
        .no-route-astronaut-image-container {
            width: 75% !important;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .cms-no-route {
        h1 {
            font-size: 75px;
        }

        .no-route-astronaut-image-container {
            width: 65% !important;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .cms-no-route {
        .no-route-astronaut-image-container {
            width: 60% !important;
        }
    }
}
